@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  margin: 0;
  background-color: #DDD;
  font-family: 'Amatic SC', cursive;
}

main {font-size: 1.5em;}

header {
  text-align: center;
  background-image: url("cosmere.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  transition: all 20s;
}

header:hover{background-position: top;}

h1 {
  margin: 20px;
  margin-top: 0;
  padding-top: 20px;
  color: #FFF;
  font-weight: bold;
}

h1, h2, h3 {
  text-transform: uppercase;
}

#image {
  width: 20%;
  min-width: 200px;
  margin: 10px auto;
  border-radius: 30%;
}

#img-caption {color: #FFF;}

article {
  margin: 10px;
  margin-bottom: 0px;
}

#presentation {text-align: justify;}

#bibliography {text-align: center;}

.books-serie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  gap: 10px;
  animation: fade-in 2s;
}

.book img {
  width: 75%;
  transition: all 0.8s; 
}

.book img:hover{transform: scale(1.2)}


footer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #333;
  color: #DDD;
}

footer p:first-of-type{padding-top: 25px;}

footer p:last-of-type{
  padding-bottom: 25px;
  margin-bottom: 0;
}

footer p a {
  color: #AAA;
  text-decoration: none;
}

footer p a:hover{
  color: #777;
  text-decoration: underline;
}

@keyframes fade-in {
  0% {
    transform: translate(-160px);
    opacity: 0;
  }
  30% {
    opacity: 0.5;
    transform: rotate(10deg);
  }
  40% {transform: rotate(0deg);}
  50% {transform: rotate(5deg);}
  60% {transform: rotate(0deg);}
  70% {
    opacity: 1;
    transform: rotate(2.5deg);
  }
  100% {
    transform: translate(0) rotate(0deg);
  }
}